# UI
streamlit

# RAG & LLM
langchain
langchain-community
langchain-groq
langchain-core
langchain-huggingface
langchain-text-splitters

# Embeddings & Vector Store
faiss-cpu
sentence-transformers
torch
transformers
huggingface-hub

# PDF Parsing
pymupdf

# Utilities
python-dotenv
